@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans), sans-serif;
  --font-mono: var(--font-mono), monospace;
  
  /* Theme colours */
  --color-solder-orange: #ff6c2f;
  --color-bone: #d7cdb8;
  --color-signal-white: #ffffff;
  --color-linen-gray: #e5e7eb;
  --color-fog: #c2c2c2;
  --color-soft-mist: #dddee2;
  --color-ash: #a3a3a3;
  --color-carbon-black: #000000;
  --color-deep-charcoal: #191919;
}
